.card-header {
  background-color: black;
  box-shadow: 0 0 60px 3px;
}
.card {
  background-color: black;
}
.card-title {
  padding: 30px 50px 30px 50px;
  color: green;
}
.navbar {
  padding: 10px 200px 10px 200px;
}
